.footer{
    background: $footerBackground;
    @media only screen and (min-width: 1024px){
        height: $footerHeight;
    }
    &__container{
        @include padding;
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }
    &__title{
        font-size: $font-size*1.5;
        display: flex;
        margin: $titleMargin;
        @media only screen and (min-width: 739px){
            justify-content: center;
        }
    }
    &__nav{
        display: flex;
        flex-direction: column;
        @media only screen and (min-width: 739px){
            display: grid;
            grid-template-columns: $navGridTempCol;
            margin-bottom: $navMarginBottom;
            justify-items: center;
        }
    }
    &__link{
        text-decoration: none;
        margin-bottom: $linkMarginBottom;
        color: $background-color--default;
        &:hover{
            @include gradient;
            -webkit-background-clip : text;
            -webkit-text-fill-color : transparent;            
        }
        @media only screen and (min-width: 1024px){
            margin-top: $linkMarginTop--screen;
        }
    }
    &__text{
        margin-left: $textMarginLeft;
    }
}