.footer{
    background: $footerBackground;
    &__container{
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }
    &__title{
        font-size: $font-size*1.5;
        display: flex;
        margin: $titleMargin;
        @media only screen and (min-width: 739px){
            justify-content: center;
        }
    }
    &__nav{
        display: flex;
        flex-direction: column;
        @media only screen and (min-width: 739px){
            display: grid;
            grid-template-columns: $navGridTempCol;
            margin-bottom: $navMarginBottom;
            justify-items: center;

        }
    }
    &__link{
        text-decoration: none;
        color: white;
        margin-bottom: $linkMarginBottom;
        &:hover{
            color: $colour-primary;
            transition: color $trans-duration;
        }
    }
    &__text{
        margin-left: $textMarginLeft;
    }
}