.header{
    display: grid;
    grid-template-columns: $gridTempCol;
    &__logo{
        grid-column: 2;
        justify-self: center;
        @include padding;
    }
    &__img{
        width: $logoWidth;
        @media screen and (min-width: 739px){
            width: $logoWidth+4;
        }
    }
}

.return{
    display: flex;
    text-decoration: none;
    padding: $arrowPadding;
    font-size: $font-size+0.5;
    &__icon{
        color: $text-color--default;
        align-self: center;
        justify-self: center;
    }
}