.header__logo{
    max-width: 18em;
    @include padding;
}

@media screen and (max-width: 739px){
    .header{
        display: flex;
        justify-content: center;
        &__logo{
            max-width: 9em;
            padding-bottom: 0.5em;
        }
    }
}