@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
body {
  margin: 0em;
  padding: 0em;
}

.footer {
  padding: 1em 1em;
}

.operation, .restaurant, .menu, .menu__img, .order, .footer__container {
  max-width: 1500px;
  margin: auto;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  font-family: 'Shrikhand', cursive, sans-serif;
}

.location__input {
  font-size: 1em;
  font-weight: bold;
}

.explore__title {
  font-size: 1.5em;
  font-weight: 900;
}

.operation__number {
  color: white;
  font-size: 0.8em;
}

.operation__icon {
  color: grey;
  font-size: 1.5em;
}

.operation__text {
  color: black;
  font-weight: bold;
}

.likeButton__icon {
  font-size: 1.8em;
}

.menu__title {
  font-family: "Shrikhand", "cursive";
  margin-bottom: 0;
  font-size: 2em;
}

.submenuItems__title {
  font-size: 1.2em;
}

.submenuItems__subtitle {
  font-size: 1em;
}

.submenuItems__icon {
  font-size: 0.9em;
}

.footer__title {
  font-family: 'Shrikhand', cursive, sans-serif;
  font-size: 1.1em;
  font-weight: lighter;
  color: white;
}

@keyframes appearance {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes loader {
  100% {
    visibility: hidden;
    z-index: -10;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.7;
  }
  25% {
    transform: translatey(2em) scale(0.9, 1.1);
    opacity: 0.9;
  }
  50% {
    transform: translateY(4.5em) scale(1.2, 0.8);
    opacity: 1;
  }
  75% {
    transform: translateY(2em) scale(0.9, 1.1);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 0.7;
  }
}

.likeButton__icon {
  padding-right: 0.5em;
}

.likeButton__unlike {
  position: absolute;
  background-color: none;
  z-index: 2;
  opacity: 1;
  transition: opacity 1000ms;
}

.likeButton__unlike:hover + .likeButton__like {
  opacity: 1;
}

.likeButton__unlike:hover {
  opacity: 0;
}

.likeButton__like {
  background-image: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 1000ms;
}

.location {
  display: flex;
  padding-left: 1em;
  background-color: #eceaea;
  padding: 1em 0;
  justify-content: center;
  box-shadow: inset 0 5px 5px -5px grey;
}

.location__icon {
  padding: 0 7px;
  border: 0;
  background: none;
}

.location__input {
  background-color: #eceaea;
  border: 0;
  width: 135px;
}

.explore {
  padding: 1em 1em;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2em 3em;
}

.explore__title {
  margin: 0em;
}

.explore__text {
  color: grey;
  font-size: 0.90909em;
}

.explore__btn {
  margin: 1em 1em;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  padding: 1em 1.5em;
  border: none;
  border-radius: 1.5em;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}

.explore__btn:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
}

.operation {
  display: flex;
  flex-direction: column;
  padding: 1em 1em;
}

.operation__part {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .operation__part {
    flex-direction: row;
  }
}

.operation__link {
  border: 0;
  background-color: #f2f2f2;
  padding: 1em 1em;
  border-radius: 1em;
  height: 2.5em;
  margin: 10px 15px;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: auto;
  transition-duration: 500ms;
}

@media screen and (min-width: 800px) {
  .operation__link {
    width: 100%;
  }
}

.operation__link:hover {
  background-color: #f0e6fc;
}

.operation__link:hover .operation__icon {
  color: #9356dc;
}

.operation__circle {
  display: flex;
  align-items: center;
  width: 8px;
  height: 8px;
  padding: 0.5em;
  border-radius: 50%;
  background-color: #9356dc;
  position: relative;
  left: -30px;
}

.operation__icon {
  width: 0em;
  margin-right: 2em;
}

.card__new {
  padding: 5px 15px;
  border-radius: 0.1em;
  background-color: #99e2d0;
  color: #149c7a;
  font-size: 0.9em;
  font-weight: bold;
  display: grid;
  grid-column-start: 4;
  grid-row: 1;
  z-index: 2;
  max-width: 60px;
  max-height: 20px;
  align-self: center;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: #E8FEF9;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loader;
  animation-delay: 2000ms;
  animation-fill-mode: both;
}

.loader__icon {
  height: 80px;
  width: 80px;
  animation: bounce 750ms both infinite ease-in-out;
  animation-timing-function: cubic-bezier(0.59, 0.6, 0.41, 0.4);
}

@media only screen and (min-width: 510px) {
  .loader__icon {
    height: 100px;
    width: 100px;
  }
}

.loader__icon--1 {
  animation-delay: 250ms;
}

.loader__icon--2 {
  animation-delay: 500ms;
}

.loader__icon--3 {
  animation-delay: 750ms;
}

.header {
  display: grid;
  grid-template-columns: 70px 2fr 70px;
}

.header__logo {
  width: 10em;
  grid-column: 2;
  justify-self: center;
  padding: 1em 1em;
}

@media screen and (min-width: 739px) {
  .header__logo {
    width: 14em;
  }
}

.return {
  display: flex;
  text-decoration: none;
  padding: 0 1em;
  font-size: 1.5em;
}

.return__icon {
  color: black;
  align-self: center;
  justify-self: center;
}

.restaurant {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 1em;
  margin: 0em;
}

@media screen and (min-width: 739px) {
  .restaurant {
    padding: 1em 3em 2em 3em;
    margin: 1em auto;
    border-radius: 1.5em;
  }
}

.restaurant__title {
  align-self: start;
}

.restaurant__card {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  width: 100%;
}

@media screen and (min-width: 739px) {
  .restaurant__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 1em;
  }
}

.card {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 1em;
  margin-bottom: 1em;
  height: 16em;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 739px) {
  .card {
    height: 18em;
  }
}

.card__figure {
  margin: 0em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 100px;
  grid-template-rows: 0.5fr 1fr 0.7fr;
}

.card__img {
  object-fit: cover;
  object-position: 50% 75%;
  width: 100%;
  height: 11em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: span 2;
}

@media screen and (min-width: 739px) {
  .card__img {
    height: 13em;
    object-position: 50% 50%;
  }
}

.card__FigureCaption {
  max-height: 5em;
  padding: 0em 1em;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 3;
}

.FigureCaption__title {
  margin-top: 0.5em;
  margin-bottom: 0em;
}

.FigureCaption__subtitle {
  margin-top: 0.5em;
}

.footer {
  background: #282828;
}

@media only screen and (min-width: 1024px) {
  .footer {
    height: 160px;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.footer__title {
  font-size: 1.5em;
  display: flex;
  margin: 0 0 1em 0;
}

@media only screen and (min-width: 739px) {
  .footer__title {
    justify-content: center;
  }
}

.footer__nav {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 739px) {
  .footer__nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 2em;
    justify-items: center;
  }
}

.footer__link {
  text-decoration: none;
  color: white;
  margin-bottom: 0.5em;
}

.footer__link:hover {
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-image 500ms;
}

@media only screen and (min-width: 1024px) {
  .footer__link {
    margin-top: 1.5em;
  }
}

.footer__text {
  margin-left: 0.2em;
}

.menu__img {
  max-height: 15em;
  height: auto;
  max-width: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .menu__img {
    max-height: 32em;
  }
}

.menu {
  background-color: #f2f2f2;
  z-index: 2;
}

@media screen and (min-width: 1024px) {
  .menu {
    margin: 0 auto 2em auto;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
  }
}

.menu__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 2em 1em 1em 1em;
  margin: -4em 0em 0em 0em;
  border-radius: 2em 2em 0em 0em;
}

.menu__title {
  margin: 0em;
}

.menu__likeButton {
  margin-right: 3%;
}

.submenus {
  padding: 0em;
  padding-left: 1em;
  row-gap: 1.5em;
}

@media only screen and (min-width: 1024px) {
  .submenus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 1em;
  }
}

.submenu {
  overflow: hidden;
}

.submenu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5em;
  margin-top: 1em;
  font-weight: normal;
}

.submenu__title::after {
  content: "";
  width: 2.5em;
  height: 0.25em;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.submenuItems {
  max-width: 95%;
  border: 0;
  background-color: #f2f2f2;
  padding: 1em 1em;
  border-radius: 1em;
  height: 2.5em;
  margin: 10px 15px;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 2em;
  display: flex;
  align-items: center;
  background-color: white;
  cursor: pointer;
  padding: 16px 0 16px 16px;
  margin: 1.5em 0em;
  overflow: hidden;
  white-space: nowrap;
  animation: appearance 1000ms both;
}

.submenuItems--1 {
  animation-delay: 111.11111ms;
}

.submenuItems--2 {
  animation-delay: 222.22222ms;
}

.submenuItems--3 {
  animation-delay: 333.33333ms;
}

.submenuItems--4 {
  animation-delay: 444.44444ms;
}

.submenuItems--5 {
  animation-delay: 555.55556ms;
}

.submenuItems--6 {
  animation-delay: 666.66667ms;
}

.submenuItems--7 {
  animation-delay: 777.77778ms;
}

.submenuItems--8 {
  animation-delay: 888.88889ms;
}

.submenuItems--9 {
  animation-delay: 1000ms;
}

@media screen and (min-width: 1024px) {
  .submenuItems {
    max-width: 92%;
    margin: 1em 0;
  }
}

.submenuItems__item {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}

.submenuItems__title {
  margin: 0.8em 0 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.submenuItems__subtitle {
  margin-top: 0.4em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.submenuItems__price {
  font-weight: bold;
  display: flex;
  justify-items: flex-end;
  align-self: flex-end;
  padding: 0 1.5em;
  margin-bottom: -0.2em;
}

.submenuItems__confirmation {
  margin: -1rem -5rem -1rem 1rem;
  width: 3.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 500ms;
  background-color: #99e2d0;
  height: 73px;
}

.submenuItems:hover .submenuItems__confirmation {
  margin-right: 0;
}

.submenuItems__wrapIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px white solid;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  color: #99e2d0;
  transform: rotate(-360deg);
  transition-duration: 500ms;
}

.submenuItems:hover .submenuItems__wrapIcon {
  transform: rotate(0);
}

.order {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  padding: 2.5em 0 3em 0;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.order__btn {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  padding: 1em 1.5em;
  border: none;
  border-radius: 1.5em;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
  font-size: 1em;
  width: 150px;
}

.order__btn:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
}

@media screen and (min-width: 510px) {
  .order__btn {
    width: 250px;
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=style.css.map */