.likeButton{
    border: none;
    background-color: transparent;
    cursor: pointer;
    &__icon{
        font-size: 2em;
        height: 1em;
    }
    &__unlike{
        position: relative;
        left: 34px;

    }
    &__like{
        display: flex;
        align-items:center;
        justify-content:center;
        position: relative;
        color: transparent;
        font-size: 1.65em;
        bottom: 0.13rem;
        height: 1em;
        width: 2.1rem;    
        border: none;
        opacity:0;
        transition: opacity 1s;
        &:hover{
            background-image: -webkit-linear-gradient($colour-primary, $colour-secondary);
            -webkit-background-clip : text;
            -webkit-text-fill-color : transparent;
            opacity: 1;
        }
    }

}

    