.likeButton{
    &__icon{
        padding-right: $iconPaddingRight;
    }
    &__unlike{
        position: absolute;
        z-index: 2;
        opacity: 1;
        transition: opacity $likeTrans-duration;
        &:hover + .likeButton__like{
            opacity: 1;
        }
        &:hover{
            opacity: 0;
        }        
    }
    &__like{
        background-image: -webkit-linear-gradient($colour-primary, $colour-secondary);
        -webkit-background-clip : text;
        -webkit-text-fill-color : transparent;
        opacity:0;
        transition: opacity $likeTrans-duration;
    }
}