.loader{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: $loaderBackground;
    z-index: 50;
    display:flex;
    align-items:center;
    justify-content:center;
    animation: loader;
    animation-delay: $loader-anim-dur;
    animation-fill-mode: both;
    &__icon{
        height: $loaderHeight;
        width: $loaderHeight;
        @media only screen and (min-width: 510px){
            height: $loaderHeight+20px;
            width: $loaderHeight+20px; 
        }
        animation: bounce $loader-duration both infinite ease-in-out;
        animation-timing-function: cubic-bezier(.59,.6,.41,.4);
        @for $i from 1 through $num-icons{
            &--#{$i} {
                animation-delay: $loader-delay * $i;
            }
        }
    }
}