.loader{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: $backgroundGradient--light;
    z-index: 50;
    display:flex;
    align-items:center;
    justify-content:center;
    animation: loader 0.01s;
    animation-delay: 2000ms;
    animation-fill-mode: both;
    &__container{
        height: 100%;
        width: 100%;
        display: flex;
        align-items:center;
        justify-content:center;    
    }
    &__icon{
        height: 100px;
        width: 100px;
        animation: bounce $loader-duration both infinite ease-in-out;
        animation-timing-function: cubic-bezier(.59,.6,.41,.4);
        background-image: transparent;
        @for $i from 1 through $num-icons{
            &--#{$i} {
                animation-delay: $loader-delay * $i;
            }
        }
    }
}