
.location{
    display: flex;
    padding-left: 1em;
    &__icon{
        @include border(black);
        padding: 0.5em 0.5em;
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
        @include gradient;
    }
    &__input{
        @include border(black);
        margin: 0 -1px;
        padding-left: 0.5em;
    }
    &__btn{
        @include border(black);
        color: white;
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
        @include gradient;
    }
}


@media screen and (max-width: 739px){
    .location{
        background-color:$dark-grey;
        padding: 1em 0;
        justify-content: center;
        &__icon{
            padding: 0 1em;
            border: 0;
            background: none;
        }
        &__input{
            background-color: $dark-grey;
            border: 0;
        }
        &__btn{
            display: none;
        }
    }
}