.location{
    display: flex;
    background-color:$grey;
    padding: $locPadding;
    justify-content: center;
    box-shadow: $locBoxShadow;
    &__button{
        border: none;
        background: transparent;
        height: $locBtnHeight;
    }
    &__icon{
        font-size: $locIconSize;
        padding: $locIconPadding;
        border: none;
        background: none;
        &:hover{
            color: $locIconHover;
            transition-duration: $trans-duration;
        }
    }
    &__input{
        background-color: $grey;
        border: none;
        width: $locInputWidth;
    }
}
