.operation{
    @include padding;
    &__part{
        display: flex;
        flex-direction: column;
    }
    &__link{
        @include link-btn;
        display: flex;
        align-items: center;
        text-decoration: none;
        &:hover{
            background-color: #f0e6fc;
            .operation__icon{
                color: $colour-primary;
            }
        }
    }
    &__circle{
        display: flex;
        align-items: center;
        border: 0;
        width: 8px;
        height: 8px;
        padding: 0.5em;
        border-radius: 50%;
        background-color: $colour-primary;
        position: absolute;
        left: 20px;
    }
    &__number{
        color: white;
        font-size: 0.8em;
    }
    &__icon{
        color: grey;
        margin: 0 1em;
    }
    &__text{
        color: black;
        font-weight: bold;
    }
}