.operation{
    display: flex;
    flex-direction: column;
    @include padding;
    margin-bottom: $opsMarginBottom;
    &__part{
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 800px){
            flex-direction: row;
        }
    }
    &__link{
        @include link-btn;
        display: flex;
        align-items: center;
        text-decoration: none;
        width: auto;
        transition-duration: $trans-duration;
        @media screen and (min-width: 800px){
            width: $width-default;
        }
        &:hover{
            background-color: $clear-purple;
            .operation__icon{
                color: $colour-primary;
            }
        }
    }
    &__circle{
        display: flex;
        align-items: center;
        width: $circleWidth;
        height: $circleHeight;
        padding: $circlePadding;
        border-radius: $circleBRadius;
        background-color: $colour-primary;
        position: relative;
        left: $circleLeftPos;
    }
    &__icon{
        width: $iconWidth;
        margin-right: $iconMarginRight;
    }
}