.operation{
    @include padding;
    &__part{
        display: flex;
    }
    &__link{
        @include link-btn;
        margin: 1em 1.5em;
        display: flex;
        align-items: center;
        text-decoration: none;
        max-width: 100%;
        &:hover{
            background-color: #f0e6fc;
            .operation__icon{
                color: $colour-primary;
            }
        }
    }
    &__circle{
        display: flex;
        align-items: center;
        border: 0;
        width: 8px;
        height: 8px;
        padding: 0.5em;
        border-radius: 50%;
        background-color: $colour-primary;
        position: relative;
        left: -30px;
    }
    &__number{
        color: white;
        font-size: 0.8em;
    }
    &__icon{
        color: grey;
        font-size: 1.5em;
        max-width: 0.2em;
        margin-right: 2em;
    }
    &__text{
        color: black;
        font-weight: bold;
    }
}

@media screen and (max-width: 739px){
    .operation{
        &__part{
            flex-direction: column;
        }
        &__link{
            width: 85%;
        }
    }
}