body{
    margin: 0 0;
    padding: 0 0;
}

.footer{
    @include padding;
}

.operation, .restaurant{
    max-width: 1500px;
    margin: auto;
}


.submenus{
    display: flex;
    column-gap: 3em;
}

@media screen and (max-width :1395px){
.submenus{
    display: flex;
    flex-direction: column;
}

}