body{
    margin: $margin-default;
    padding: $padding-default;
}

.footer{
    @include padding;
}

.operation, .restaurant, .menu, .menu__img, .order, .footer__container{
    max-width: $block-width;
    margin: auto;
}


