body{
    margin: 0 0;
    padding: 0 0;
}

.footer{
    @include padding;
}

.operation, .restaurant, .menu, .menu__img, .order, .footer__container{
    max-width: 1500px;
    margin: auto;
}

.submenus{
    display: flex;
    column-gap: 3em;
    justify-content: center;
}

