@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.header{
    font-family: 'Shrikhand', cursive, sans-serif;
}

.location{
    &__input{
        font-size: $font-size;
        font-weight: bold;
    }
}

.explore{
    &__title{
        font-size: $font-size*1.5;
        font-weight: 900;
    }
}

.operation{
    &__number{
        color: white;
        font-size: $font-size*0.8;
    }
    &__icon{
        color: grey;
        font-size: $font-size*1.5;
    }
    &__text{
        color: black;
        font-weight: bold;
    }
}

.likeButton{
    &__icon{
        font-size: $font-size*1.8; 
    }
}

.menu{
    &__title{
        font-family: "Shrikhand", "cursive";
        margin-bottom: 0;
        font-size: $font-size*2;
    }
}

.submenuItems{
    &__title{
        font-size: $font-size*1.2;
    }
    &__subtitle{
        font-size: $font-size;
    }
    &__icon{
        font-size: $font-size*0.9;
    }
}

.footer{
    &__title{
        font-family: 'Shrikhand', cursive, sans-serif;
        font-size: $font-size*1.1;
        font-weight: lighter;
        color: white;
    }
}