@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.header{
    font-family: 'Shrikhand', cursive, sans-serif;
}

.location{
    &__input{
        font-weight: bold;
    }
}

.explore{
    &__title{
        font-size: 1.5em;
        font-weight: 900;
    }
}

.operation{
    &__number{
        color: white;
        font-size: 0.8em;
    }
    &__icon{
        color: grey;
        font-size: 1.5em;
    }
    &__text{
        color: black;
        font-weight: bold;
    }
}

.likeButton{
    &__icon{
        font-size: 1.8em; 
    }
}

.menu{
    &__title{
        font-family: "Shrikhand", "cursive";
        margin-bottom: 0;
        font-size: 2em;
    }
}

.submenuItems{
    &__title{
        font-size: 1.2em;
    }
    &__subtitle{
        font-size: 1em;
    }
    &__icon{
        font-size: 0.9em;
    }
}

.footer{
    &__title{
        font-family: 'Shrikhand', cursive, sans-serif;
        font-size: 1.1em;
        font-weight: lighter;
        color: white;
    }
}