@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.header{
    font-family: 'Shrikhand', cursive, sans-serif;
}

.footer{
    &__title{
        font-family: 'Shrikhand', cursive, sans-serif;
        font-size: 1.1em;
        font-weight: lighter;
        color: white;
    }
}

.menu{
    &__title{
        font-family: "Shrikhand", "cursive";
        margin-bottom: 0;
    }
}

.submenuItems{
    &__subtitle{
        font-size: 0.8em;
    }
}

@media screen and (max-width: 415px){
    .submenuItems{
        &__title{
            font-size: 0.9em;
        }
        &__subtitle{
            font-size: 0.7em;
        }
        &__price{
            font-size: 0.9em;
        }
    }
}