.menu__img{
    max-height: 32rem;
    max-width: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    @media screen and (max-width: 415px){
        height: 15rem;
        }
    @media screen and (min-width: 416px) and (max-width: 1024px){
        max-height: 20rem;
    }
}

.menu{
    background-color: $grey-clear;
    z-index: 2;
    &__header{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $grey-clear;
        @include padding;
        margin-top: -4em;
        margin-bottom: 1.5em;
        border-radius: 2em 2em 0 0;
    }
    &__likeButton{
        margin-right: 5%;
    }
}


.submenus{
    padding: 0 0;
    padding-left: 1em;    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    @media screen and (max-width: 415px){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr ;
        row-gap: 1.5em;
    }
    @media screen and (min-width: 416px) and (max-width: 1024px){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 1.5em;
    }
}

.submenu{
    overflow: hidden;
    &__title {
        text-transform: uppercase;
        position: relative;
        padding-bottom: 0.5rem;
        margin-top: 0;
        font-weight: normal;
        &::after {
            content: "";
            width: 3rem;
            height: 0.25rem;
            background-color: $colour-tertiary;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}

.submenuItems{
    max-width: 90%;
    @include link-btn;
    height: 2em;
    display: flex;
    align-items: center;
    background-color: white;
    cursor: pointer;
    padding: 16px 0;
    padding-left: 16px;
    margin: 1.5em 0;
    overflow: hidden;
    white-space: nowrap;
    animation: appearance $anim-duration both;
    @for $i from 1 through $num-items{
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }
    }
    @media screen and (max-width: 415px){
        min-width: 91%;
        margin: 1em 0;
    }
    @media screen and (min-width: 416px) and (max-width: 1024px){
        min-width: 95%;
        margin: 1em 0;
    }
    &__item{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
    }
    &__title{
        margin: 0.8em 0 0 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__subtitle{
        margin-top: 0.4em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__price {
        font-weight: bold;
        display: flex;
        justify-items: flex-end;
        align-self: flex-end;
        padding: 0 1.5rem;
        margin-bottom: -0.2em;

        
    }
    &__confirmation{
        margin: -1rem -5rem -1rem 1rem;
        width: 4rem;
        display:flex;
        align-items:center;
        justify-content:center;
        transition-duration: 0.5s;
        background-color: $colour-tertiary;
        height: 73px;
    }
    &:hover &__confirmation {
        margin-right: 0;
    }

    &__wrapIcon{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px white solid;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: white;
        color: $colour-tertiary;
        transform: rotate(-360deg);
        transition-duration: 0.6s;
    }
    &:hover &__wrapIcon{
        transform: rotate(0);
    }
    &__icon{
        font-size: 0.9em;
    }
}

.order{
    background-color: $grey-clear;
    display: flex;
    justify-content: center;
    padding: 2.5em 0 3em 0;
    &__btn{
        @include btn;
        font-size: 1.2em;
        width: 250px;
        @media screen and (max-width: 415px){
            width: 150px;
            font-size: 1em;
            padding: 1em 0 1em 0;
        }
    }
}