.menu__img{
    max-height: $imgMaxHeight;
    height: auto;
    max-width: $width-default;
    width: $width-default;
    z-index: -1;
    object-fit: cover;
    @media screen and (min-width: 510px){
        }
    @media screen and (min-width: 1024px){
        max-height: $imgMaxHeight+17;
    }
}

.menu{
    background-color: $grey-clear;
    z-index: 2;
    @media screen and (min-width: 1024px){
        margin: $menuMargin;
        border-bottom-left-radius: $menuBottomRadius;
        border-bottom-right-radius: $menuBottomRadius;
    }
    &__header{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $grey-clear;
        padding: $headPadding;
        margin: $headMargin;
        border-radius: $headTopRadius;
    }
    &__title{
        margin: $margin-default;
    }
    &__likeButton{
        margin-right: $likeBtnMarginRight;
    }
}

.submenus{
    padding: $padding-default;
    padding-left: $submenusPaddingLeft;    
    row-gap: $submenusRowGap;
    @media only screen and (min-width: 1024px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: $submenusColGap;
    }
}

.submenu{
    overflow: hidden;
    &__title {
        text-transform: uppercase;
        position: relative;
        padding-bottom: $submenuTitlePaddingBottom;
        margin-top: $submenuTitleMarginTop;
        font-weight: normal;
        &::after {
            content: "";
            width: $UndertitlebarWidth;
            height: $UndertitlebarHeight;
            background-color: $Undertitlebarcolor;
            position: absolute;
            left: $UndertitlebarleftPos;
            bottom: $UndertitlebarbottomPos;
        }
    }
}

.submenuItems{
    max-width: $itemsMaxWidth;
    @include link-btn;
    height: $itemsHeight;
    display: flex;
    align-items: center;
    background-color: $background-color--default;
    cursor: pointer;
    padding: $itemsPadding;
    margin: $itemsMargin;
    overflow: hidden;
    white-space: nowrap;
    animation: appearance $anim-duration both;
    @for $i from 1 through $num-items{
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }
    }
    @media screen and (min-width: 1024px){
        max-width: $itemsMaxWidth-screen;
        margin: $itemsMarginScreen;
    }
    &__item{
        @include text-hidden;
        flex: 1;
    }
    &__title{
        margin: $itemsTitleMargin;
        @include text-hidden;
    }
    &__subtitle{
        margin-top: $itemsSubtitleMargintop;
        @include text-hidden;
    }
    &__price {
        font-weight: bold;
        display: flex;
        justify-items: flex-end;
        align-self: flex-end;
        padding: $itemsPricePadding;
        margin-bottom: $itemsPriceMarginBottom;  
    }
    &__confirmation{
        margin: $confirmationMargin;
        width: $confirmationWidth;
        display:flex;
        align-items:center;
        justify-content:center;
        cursor: pointer;
        transition-duration: $trans-duration;
        background-color: $confirmationBackColor;
        height: $confirmationHeight;
        border: none;
        &:hover{
            background-color: darken($color: $confirmationBackColor, $amount: 10%);
            transition-duration: $confirmationTransition;
        }
        &:hover .submenuItems__wrapIcon{
            color: darken($color: $wrapiconColor, $amount: 10%);
            transition-duration: $confirmationTransition;
        }
    }
    &__icon{
        font-size: $confirmationIconSize;
    }
    &:hover &__confirmation {
        margin-right: 0;
    }
    &__wrapIcon{
        display: flex;
        justify-content: center;
        align-items: center;
        height: $wrapiconHeight;
        width: $wrapiconWidth;
        border-radius: $wrapiconRadius;
        background-color: $background-color--default;
        color: $wrapiconColor;
        transform: rotate(-360deg);
        transition-duration: $trans-duration;
    }
    &:hover &__wrapIcon{
        transform: rotate(0);
    }
}

.order{
    background-color: $orderBackColor;
    display: flex;
    justify-content: center;
    padding: $orderPadding;
    border-bottom-left-radius: $menuBottomRadius;
    border-bottom-right-radius: $menuBottomRadius;

    &__btn{
        @include btn;
        font-size: $font-size;
        width: 150px;
        @media screen and (min-width: 510px){
            width: $orderBtnWidth;
            font-size: $font-size*1.2
        }
    }
}