@mixin gradient {
    background: linear-gradient(to bottom right, $colour-secondary, $colour-primary);
}

@mixin border($colour:$colour-primary) {
    border: .1rem solid $colour;
}

@mixin padding {
    padding: 1em 1em;
}

@mixin btn {
    @include shadow();
    background: $backgroundGradient;
    padding: 1em 1.5em;    
    border: none;
    border-radius: 1.5em;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
    &:hover {
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
        background: $backgroundGradient--light;
    }
}

@mixin shadow {
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

@mixin link-btn {
    border: 0;
    background-color: $grey-clear;
    @include padding();
    border-radius: 1em;
    height: 2.5em;
    margin: 10px 15px;
    @include shadow();
    width: 100%;
    
}

@mixin insert-new {
    width: 60px;
    height: 20px;
    padding: 5px 15px;
    border-radius: 0.1em;
    background-color: $colour-tertiary;
    color: #149c7a;
    font-size: 0.9em;
    font-weight: bold;
}

@mixin text-hidden {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;    
}