$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$dark-grey:#dfdfdf;
$grey:#eceaea;
$grey-clear:#f2f2f2;
$num-items:9;
$anim-duration: 1000ms;
$anim-delay: $anim-duration / $num-items;